.about{
    padding-top: 1%;
    padding-bottom: 1%;
    display:grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px
}
.about>p{
    font-family: 'Handlee', cursive;
    font-size: 1.2rem;
    font-style: italic;
}