.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.logo--login{
    width: 30%;
    height: 30%;
    background-size: cover;
    filter: blur(0.5px);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.logo--login>h1{
    color: rgb(212, 193, 16);
    font-size: 3rem;
    padding: 5px;
    border: 2px solid rgb(212, 193, 16);
    background-color: rgba(0,0,0,0.5);
}
.logo--login>h2{
    color: rgb(212, 193, 16);
    background-color: rgba(0,0,0,0.5);
}
.login>h1{
    color: rgb(212, 193, 16);
}
.login--form{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: rgb(212, 193, 16);
    font-size: 1.2rem;
    border: 1px solid rgb(212, 193, 16);
    padding: 25px;
    gap: 10px;
}
.login--form>input{
    width: 300px;
    text-indent: 5px;
    border: none;
    border-bottom: 2px solid rgb(212, 193, 16);
    outline: none;
    color: rgb(212, 193, 16);
    font-size: 1.2rem;
}
.login--form>button{
    width: 50%;
    height: 40px;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(212, 193, 16);
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid rgb(212, 193, 16);
}
.login>h3{
    color: rgb(212, 193, 16);
    text-decoration: underline;
    cursor: pointer;
}